/.idea
/.pylint.d
/Kevin_design.py
/output
/__pycache__
NewProp_Jesper/BladeImg_Jesper.png
NewProp_Jesper/Design_Output_Jesper.pdf
NewProp_Jesper/NewProp_Jesper.png
NewProp_Jesper/Thrust_Match@17mpers.html
NewProp_Jesper/Thrust_Match@30mpers.html
NewProp_Jesper/Thrust_Match17ms.pdf
NewProp_Jesper/Thrust_Match30ms.pdf
